<main>
    <div *ngFor="let phone of phones" class="edit-box">
        <h2>Made a mistake? You can fix it right now!</h2>
        <form #form="ngForm" (ngSubmit)="edit(form)">
            <div class="user-box">
                <label>Make</label>
                <input [(ngModel)] ="phone.make" type="text" name="make" required="true">
            </div>
            <div class="user-box">
                <label>Model</label>
                <input [(ngModel)] ="phone.model" type="text" name="model" required>
            </div>
            <div class="user-box">
                <label>Production year</label>
                <input [(ngModel)] ="phone.year" type="number" name="year" required>
            </div>
            <div class="user-box">
                <label>Operating system</label>
                <input [(ngModel)] ="phone.OS" type="text" name="OS" required>
            </div>
            <div class="user-box">
                <label>Condition</label>
                <input [(ngModel)] ="phone.condition" type="text" name="condition" required>
            </div>
            <div class="user-box">
                <label>Price</label>
                <input [(ngModel)] ="phone.price" type="number" name="price" required>
            </div>
            <div class="user-box">
                <label>Device Image</label>
                <input [(ngModel)] ="phone.imageUrl" type="url" name="imageUrl" required>
            </div>
            <button>Edit your phone now</button>
            <div *ngIf="message" class="validator">{{message}}</div>
        </form>
    </div>
</main>


