<main>
    <div class="register-box">
        <h2>Register</h2>
        <form #form="ngForm" (ngSubmit)="register(form)">
            <div class="user-box">
                <label>Email</label>
                <input ngModel type="text" name="email" required="true">
            </div>
            <div class="user-box">
                <label>Password</label>
                <input ngModel type="password" name="password" required>
            </div>
            <div class="user-box">
                <label>Repeat password</label>
                <input ngModel type="password" name="repassword" required>
            </div>
            <button>Register</button>
            <span>Already have an account? click <a href="">here</a></span>
        </form>
    </div>
</main>
